/* searchBar styles */
.search-form, .movie-details{
  text-align: center;
  margin: 100px auto 0;
}

.movie-details img{
  float: left;
  margin-left: 20px;
}

/* table styles */

.table-container{
  width: 75%;
  margin: 50px auto 0;
}

table, table th{
  text-align: center;
}

table img{
  max-height: 100px;
  padding-left: 10%;
}

